.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.graph {
  background-color: #555;
  position: relative;
  width: 600px;
  height: 500px;
}